/* Basic panel styling */
.map-panel {
  position: absolute;
  left: 0;   /* or right: 0 if you prefer a right-side panel */
  width: 100%;
  height: calc(100% - 50px);
  background: #fff;
  padding: 0.2rex;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
}
.lable-map{
  text-align: center;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  background-color: #E0E2EC;
  margin: 0 0  0.5rem 0;
  padding: 0.5rem;
}
.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.tab-content {
 padding: 1rem 0.8rem;
 border: 1px dotted #000;
 border-radius: 5px;
}
.tab-btns{
  display: flex;
  width: calc(100%);
  justify-content:space-between;
  align-items: center;
  &.active {
    color: #1976d2 ;
  }
}
.tab-btn {
  display: flex;
  align-items: center;
  background: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  &.active {
    color: #1976d2;
  }
}

.icon-container {
  /* This ensures the icon is aligned to the right of the container */
  text-align: right;
}
.section-title {
  font-weight: 400;
  margin-top:0.5rem;
}
.filter-map-search {
  width: 100%;
  border: 1px solid #E0E2EC;
  border-radius: 4px;
  background-color: #E0E2EC;
  overflow-y: hidden;
  height:2rem;
  text-align: left;
  margin-bottom: 0;

}
.filter-group,
.date-filter {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
}
.date-filter-input{
  display: flex;
  gap: 4px;
  text-align: center;
  input{
    background-color: #E0E2EC;
  }
}
.button-row {
  margin-top: 1rem;
  display: flex;
  gap: 8px;
  align-items: center;
  a{
    color: #1976d2;
    cursor: pointer;
  }
}


.example-additional-selection.mat-mdc-select-panel{
  opacity: 0.75;
  font-size: 0.75em;
}

.weather-controls {
  margin-top: 10px;
}

.weather-controls mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.weather-controls mat-radio-button {
  margin: 5px 0;
}

